$black : #000000;
$white : #ffffff;
$dark-purple : #3942c1;
$darker-purple : #2F369D;
$faded-purple : #EFF0FA;
$light-purple : #C1C5EB;
$gray-border: #cccccc;
$hot-pink: #ee34a8;

$title-size: 28px;
$subtitle-size: 18px;
$title-line-height: 150%;
$border-radius: 205px;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;


body{
  background : $white;
  color: $black;
  border-spacing:flex;

  font-family: 'Lato', 'Helvetica', sans-serif;
}

div{
  box-sizing: border-box;
}

.App {
  text-align: left;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 80px;
  padding: 20px 0;
  color: $white;
  background: $dark-purple;
  background-size: cover;
  background-position: center;

  .wrapper{
    padding: 0;
    margin: 25px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .navIcons{
    display:flex;
    .navIcons-fa{
      margin-top: 5px;
      font-size: 1.6em;
      padding: 0 15px;
    }
  }

  .navIcons:hover{
    cursor: pointer;
  }
}

.App-title {
  font-size: 1.5em;
}

.overlay{
  background-color: rgba(50,50,50, 0.4);
  width: 100%;
  padding: 20px 0;
  height: 80px;
  margin: -20px 0;
}

.wrapper {
  width: 80%;
  margin: 3% auto 6%;
}

.consortiumName{
  font-weight:$fw-bold;
  font-size: $title-size;
  line-height: $title-line-height;
}

.consortiumDescription{
  font-size: $subtitle-size;
  line-height: $title-line-height;
  font-weight: $fw-light;
}

.sectionTitle{
  font-size: 24px;
  line-height: 24px;
  font-weight: $fw-bold;
  margin-bottom: 2%;
}

table.kaleidoTable{
  padding: 0;
  width: 100%;
  font-size: 16px;
  box-shadow: 1px 1px 2px $gray-border;
  border-collapse: collapse;
  font-weight: $fw-light;

  b{
    font-weight: $fw-regular;
  }

  tr th{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: $fw-regular;
    font-size: 16px;
    background: $dark-purple;
    color: $white;
    height: 35px;
  }

  tr th:nth-child(1), tr td:nth-child(1){
    border-left: 1px solid $gray-border;
  }

  tr td, tr th{
    padding: 5px;
    text-align: center;
    border-top: 1px solid $gray-border;
    border-right: none;
  }

  tr td:nth-child(3){
    text-align: left;
  }

  tr:last-child td{
    border-bottom: 1px solid $gray-border;
  }

  img{
    padding: 0 2px;
    padding-top: 2px;
    width: 26px;
    height: 26px;
  }
}

.flexGridThree {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  .column{
    width: 32%;
    border: 1px solid $gray-border;
    min-height: 180px;
    max-height: 250px;
  }

  .column:first-child{
    margin-left: 0;
  }

  .column:last-child{
    margin-right: 0;
  }
}

.column {
  width: 100%;
  margin: 0 auto 3%;
}

.columnHeader{
  text-transform: uppercase;
  font-weight: $fw-regular;
  font-size: 16px;
  background: $dark-purple;
  color: $white;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
}

.green{
  color:#03cc79;
}

.neutral{
  color: #26C1DD;
}

.alert{
  color: #BA0000;
}

.right-fa{
  margin-left: 5px;
}

.status-fa{
  margin-right: 5px;
}

.statusBox{
  width: auto;
  text-align: center;
  margin: 0 5px;
  padding: 2px 6px;
  font-size: 14px;
  text-transform: capitalize;
}

.overview{
  width: 95%;
  padding: 5px;
  margin: 2% auto;
  text-align: left;
}

.overviewElement{
  width: 180px;
  margin: 5% auto;
  font-size: 18px;
  line-height: 25px;
  font-weight: $fw-light;
  min-width: 180px;
  display: flex;
  flex-direction: row;

  img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .propertyCount{
    margin: 0 5px;
    font-weight: $fw-bold;
    font-size: 26px;
  }
}

.membersList{
  padding: 10px;
  overflow: scroll;
  height:210px;
}

.memberList ul{
  list-style-image: url("./images/membership.svg");
  padding: 0;
  margin: 0;
}

.membersList ul li{
  margin: 0;
  height: 26px;
  font-weight: $fw-light;
  background-image: url("./images/membership.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-top: 3px;
  list-style-type: none;
  margin: 2% auto;
}

#invitationsChart{
  margin: 0 auto;
  width: 98%;
  height: 200px;
}

// @keyframes App-logo-spin {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }

@media (max-width: 750px) {
  .flexGridThree {
    flex-wrap: wrap;
    .column{
      width: 100%;
      margin: 5% auto;
    }
  }

  .sectionTitle{
    margin: 5% auto;
  }

  table.kaleidoTable{
    font-size:14px;
    margin-top: 5%;
    img{
      width: 20px;
      height:20px;
    }
    tr th{
      font-size: 14px;
    }
  }

  .statusBox{
    font-size: 12px;
  }
}
