$black : #000000;
$white : #ffffff;
$darkpurple : #3942c1;
$fadedpurple : #EFF0FA;
$lightpurple : #C1C5EB;

$border-radius: 2px;

body{
  background : $white;
  color: $black;
  font-family: 'Lato', 'Helvetica', sans-serif;
}

.App {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 70px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul.kaleidoList{
  padding: 0;
  li{
    list-style: none;
    padding: 2px 0;
  }
}

.auditEntry{
  display:flex;
  flex-direction: row;
  padding: 5px 0;

  img{
    margin-right: 10px;
    width: 26px;
    height: 26px;
  }
}

.green{
  color:#03cc79;
}

.neutral{
  color: #26C1DD;
}

.alert{
  color: #BA0000;
}

.audit-fa{
  margin-right: 5px;
}

.statusBox{
  border-radius: 5px;
  border: 1px solid $lightpurple;
  display: inline;
  width: auto;
  margin: 0 5px;
  padding: 2px 6px;
  font-size: 16px;
  box-shadow: 1px 1px 2px $fadedpurple;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
