$black : #000000;
$white : #ffffff;

$border-radius: 2px;

body{
  background : $white;
  color: $black;
}

.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #000000;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul.cephThemeList{
  padding: 0;
  li{
    list-style: none;
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
