$black : #000000;
$white : #ffffff;
$darkpurple : #3942c1;
$darkerpurple : #2F369D;
$fadedpurple : #EFF0FA;
$lightpurple : #C1C5EB;
$gray-border: #cccccc;

$border-radius: 2px;

body{
  background : $white;
  color: $black;
  font-family: 'Lato', 'Helvetica', sans-serif;
}

.App {
  text-align: left;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 80px;
  padding: 20px 0;
  background: #f2f2f2;
  .wrapper{
    padding: 0;
    margin: 25px auto 0;
  }
}

.App-title {
  font-size: 1.5em;
}

.wrapper {
  width: 80%;
  margin: 5% auto;
}

table.kaleidoTable{
  padding: 0;
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  box-shadow: 1px 1px 2px $gray-border;
  border-collapse: collapse;

  tr th{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    background: $darkpurple;
    color: $white;
    height: 35px;
  }

  tr th:nth-child(1), tr td:nth-child(1){
    border-left: 1px solid $gray-border;
  }

  tr td, tr th{
    padding: 5px;
    text-align: center;
    border-top: 1px solid $gray-border;
    border-right: none;
  }

  tr td:nth-child(3){
    text-align: left;
  }

  tr:last-child td{
    border-bottom: 1px solid $gray-border;
  }
  img{
    padding: 0 2px;
    padding-top: 2px;
    width: 26px;
    height: 26px;
  }
}

.green{
  color:#03cc79;
}

.neutral{
  color: #26C1DD;
}

.alert{
  color: #BA0000;
}

.audit-fa{
  margin-left: 5px;
}

.status-fa{
  margin-right: 5px;
}

.statusBox{
  border-radius: 5px;
  width: auto;
  text-align: center;
  margin: 0 5px;
  padding: 2px 6px;
  font-size: 14px;
  text-transform: capitalize;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
